<!doctype html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
    <title>Login view</title>
<link href="../static/css/error.css" rel="stylesheet">

<body>
    <div class="alert alert-primary" role="alert">
    <div class="limiter font">
        Oops registering failed! {{message}}
        <a href="/signup"><button class="btn btn-outline-secondary" type="button">Back</button></a>
    </div>
    </div>
</body>
