{% extends "layout.html" %}

{% block content %}
<body>
    <div class="limiter">
        <div class="wrap-basic font" align="center">
            <div class="page-title-layout title-layout"> Your Favorite Recipes</b></div>
            {% if no_recipes == True %}
            <div class="text-layout">You don't have any favorite recipes yet!</div>
            {% else %}
            <form action="/favorites/remove-favorite" method="POST">
                {% for item in favorites %}
                <div class="card col-6">
                    <div class="card-body" align="left">
                        <h5 class="card-title font spacing-normal">{{item[1]}}</h5>
                        <b><p class="card-text font spacing-normal">Cook time: {{item[2]}}</p></b>
                        <p class="card-text font spacing-normal">{{item[3]}}</p>
                        <a href="/recipe/{{item[0]}}" class="btn btn-outline-secondary spacing-normal">Go to Recipe!</a>
                        <input type="hidden" id="recipe_id" name="recipe_id" value="{{item[0]}}"></input>
                        <button type="submit" class="btn btn-outline-danger spacing-normal"> Delete from favorites </button>
                    </div>
                </div>
                {% endfor %}
                <input type="hidden" name="csrf_token" value="{{ session.csrf_token }}">
                <div class="text-padding"></div>
            </form>
            {% endif %}
        </div>
    </div>
</body>
{% endblock %}