{% extends "layout.html" %}

{% block content %}
<body>
    <div class="limiter">
        <div class="background">
            <div class="filter-background">
                <div class="search-box">
                    <form class="form-inline my-lg-0">
                        <input class="form-control mr-sm-2 col-xs-4" type="search" placeholder="Search" aria-label="Search">
                        <button class="btn btn-outline-secondary my-2 my-sm-0" type="submit">Search</button>
                    </form>
                </div>
                <div class="dropdown">
                    <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                      Dropdown button
                    </button>
                    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                      <a class="dropdown-item" href="#">Action</a>
                      <a class="dropdown-item" href="#">Another action</a>
                      <a class="dropdown-item" href="#">Something else here</a>
                    </div>
                  </div>
                </div>
            </div>
        </div>
    </div>
</body>
{% endblock %}