<!doctype html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
    <title>Login view</title>
<link href="../static/css/login.css" rel="stylesheet">

</head>
  <body>
    <div class="limiter">
        <div class="background-login">
            <div class="wrap-login">
                <form class="login-form validate-form" action="/" method="POST">
                    <span class="page-title">Welcome to RecipeFinder</span>
                    <span class="login-form-title">Account Login</span>
                  <div class="wrap-input username-input validate-input m-b-50" data-validate="Type username">
                    <input id=inputUsername class="input" type="text" username="username" placeholder="Username" required>
                  </div>
                  <div class="wrap-input password-input validate-input m-b-50" data-validate="Type password">
                    <input id=inputPassword class="input" type="password" password="password" placeholder="Password" required>
                  </div>
                  <div class="sign-in-setup">
                    <button type="submit" class="btn btn-secondary btn-lg btn-block">SIGN IN</button>
                  </div>
                  <div class="signup-form">
                    <span class="txt1">Don't have an account yet?</span>
                    <a href="/signup" class="txt2">Sing up!</a>
                  </div>
                </form>
                <div class="login-picture" style="background-image: url('/static/images/signin_picture.avif');"></div>
            </div>
        </div>
    </div>

