{% extends "layout.html" %}

{% block content %}
<body>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.min.js" integrity="sha384-kjU+l4N0Yf4ZOJErLsIcvOU2qSb74wXpOhqTvwVx3OElZRweTnQ6d31fXEoRD1Jy" crossorigin="anonymous"></script>

    <div class="limiter">
        <div class="wrap-basic font">
            <div class="page-title-layout">Manage Recipes</div>
            <div class="text-padding">
            <a href="/manage-recipes/add-recipe"type="button" class="btn btn-outline-secondary" name="add_recipe" id="add_recipe">Add recipe</a>
            </div>
            <table class="table table-striped">
                <thead>
                  <tr>
                    <th scope="col">Select</th>
                    <th scope="col">Recipe Name</th>
                    <th scope="col">Recipe Description</th>
                    <th scope="col">Recipe Ingredients</th>
                    <th scope="col">Recipe Instructions</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <th scope="row">
                        <input type="radio" name="radios" id="radio1" />
                        <label for="radio1"></label>
                      </th>
                    </th>
                    <td>recipe name</td>
                    <td>description</td>
                    <td>ingredients</td>
                    <td>instructions</td>
                  </tr>
                </tbody>
              </table>
        </div>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-gtEjrD/SeCtmISkJkNUaaKMoLD0//ElJ19smozuHV6z3Iehds+3Ulb9Bn9Plx0x4" crossorigin="anonymous"></script>
</body>
{% endblock %}