{% extends "layout.html" %}

{% block content %}
<body>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.min.js" integrity="sha384-kjU+l4N0Yf4ZOJErLsIcvOU2qSb74wXpOhqTvwVx3OElZRweTnQ6d31fXEoRD1Jy" crossorigin="anonymous"></script>

    <div class="limiter">
        <div class="wrap-basic font">
            <div class="page-title-layout">Manage Ingredients</div>
            <table class="table table-striped">
                <thead>
                  <div class="text-padding">
                    <form id="delete_ingredient" action="/manage-ingredients/delete-ingredient" method="POST">
                      <button type="submit" class="btn btn-outline-secondary">Delete chosen ingredient</button>
                    </form>
                    <button type="button" class="btn btn-outline-secondary" data-bs-toggle="modal" data-bs-target="#myModal-modify-ingredient">Modify chosen ingredient</button>
                    <button type="button" class="btn btn-outline-secondary" data-bs-toggle="modal" data-bs-target="#myModal-new-ingredient">Add ingredient</button>
                      <form action="/manage-ingredients/add-ingredient" method="POST">
                          <div class="modal" id="myModal-new-ingredient">
                              <div class="modal-dialog">
                                  <div class="modal-content">
                                      <div class="modal-header">
                                          <h5 class="modal-title">Add new ingredient</h5>
                                          <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
                                      </div>
                                      <div class="modal-body">
                                        <div class="mb-3">
                                              <label class="form-label">Choose ingredient category...</label>
                                              <div class="dropdown">
                                                  <button class="btn btn-outline-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown">
                                                  See categories
                                                  </button>
                                                  <div class="dropdown-menu">
                                                      <div class="dropdown-item">
                                                        {% for category in ingredient_categories %}
                                                        <div class="radio" value="{{category.id}}">
                                                          <input type="radio" id=category_id name="category_id">
                                                          {{ category.category_name }}
                                                        </input>
                                                        </div>
                                                        {% endfor %}
                                                      </div>
                                                  </div>
                                              </div>
                                              <div class="top-padding">
                                                <span>Ingredient category does not exists? </span>
                                                </div>
                                                <span>Add it first in the</span>
                                                <a href="/manage-ingredient-categories" class="txt2">Ingredient Category Management tools!</a>
                                              </div>
                                          <div class="mb-3">
                                              <label class="form-label required">New Ingredient</label>
                                              <input type="text" class="form-control" id="new_ingredient", name="new_ingredient">
                                          </div>
                                      </div>
                                      <div class="modal-footer">
                                          <button type="submit" class="btn btn-secondary">Submit</button>
                                      </div>
                                  </div>
                              </div>
                          </div>
                      </form>
                  </div>
                  <tr>
                    <th scope="col">Select</th>
                    <th scope="col">Ingredient name</th>
                    <th scope="col">Ingredient category</th>
                    <th scope="col">Usage</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <th scope="row">
                        <input type="radio" name="radios" id="radio1" />
                        <label for="radio1"></label>
                      </th>
                    </th>
                    <td>ingredient name</td>
                    <td>category</td>
                    <td>number of usage</td>
                  </tr>
                </tbody>
              </table>
        </div>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-gtEjrD/SeCtmISkJkNUaaKMoLD0//ElJ19smozuHV6z3Iehds+3Ulb9Bn9Plx0x4" crossorigin="anonymous"></script>



  </body>


{% endblock %}