
{% extends "layout.html" %}

{% block content %}
<body>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.min.js" integrity="sha384-kjU+l4N0Yf4ZOJErLsIcvOU2qSb74wXpOhqTvwVx3OElZRweTnQ6d31fXEoRD1Jy" crossorigin="anonymous"></script>
    <div class="wrap-basic font">
        <div class="page-title-layout"> Hi <b>{{username}}</b>!</div>
        <div class="text-layout">Do you want to change username?
        <button type="button" class="btn btn-secondary btn-sm" data-bs-toggle="modal" data-bs-target="#myModal-username">MODIFY IT HERE!</button>
        <form action="/profile/{{session.user_id}}/modify-username" method="POST">
            <div class="modal" id="myModal-username">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title">Modify Username</h5>
                            <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
                        </div>
                        <div class="modal-body">
                            <div class="mb-3">
                                <label class="form-label required">New Username</label>
                                <input type="text" class="form-control" id="new_username", name="new_username">
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button type="submit" class="btn btn-secondary">Submit</button>
                        </div>
                    </div>
                </div>
            </div>
        </form>
        </div>

        <div class="text-layout"> You phone number is <b>{{phone_number}} </b>
            <button type="button" class="btn btn-secondary btn-sm" data-bs-toggle="modal" data-bs-target="#myModal-number">MODIFY IT HERE!</button>
            <form action="/profile/{{user_id}}/modify-phone-number" method="POST">
                <div class="modal" id="myModal-number">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title">Modify Phone Number</h5>
                                <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
                            </div>
                            <div class="modal-body">
                                <div class="mb-3">
                                    <label class="form-label required">New Phone Number</label>
                                    <input type="text" class="form-control" id="new_phone_number", name="new_phone_number">
                                </div>
                            </div>
                            <div class="modal-footer">
                                <button type="submit" class="btn btn-secondary">Submit</button>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </div>
        <div class="text-layout"> Your email is <b> {{email}}</b>
            <button type="button" class="btn btn-secondary btn-sm" data-bs-toggle="modal" data-bs-target="#myModal-email">MODIFY IT HERE!</button>
            <form action="/profile/{{user_id}}/modify-email" method="POST">
                <div class="modal" id="myModal-email">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title">Modify Email</h5>
                                <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
                            </div>
                            <div class="modal-body">
                                <div class="mb-3">
                                    <label class="form-label required">New Email</label>
                                    <input type="text" class="form-control" id="new_email", name="new_email">
                                </div>
                            </div>
                            <div class="modal-footer">
                                <button type="submit" class="btn btn-secondary">Submit</button>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </div>
        <div class="text-layout">
        {% if session.role == 1 %}
        <div> Your role in the application is: <b> Admin </b></div>
        {% else %}
        <div> Your role in the application is: <b> User </b></div>
        {% endif %}
        </div>
        <div class="text-layout"><a href="/logout">Log out</a></div>
        <div class="profile-picture" style="background-image: url('/static/images/profile-picture.avif');"></div>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-gtEjrD/SeCtmISkJkNUaaKMoLD0//ElJ19smozuHV6z3Iehds+3Ulb9Bn9Plx0x4" crossorigin="anonymous"></script>
</body>

{% endblock %}