{% extends "layout.html" %}

{% block content %}
<body>
    <div class="limiter">
        <div class="wrap-recipe font">
            <div>{{average}}</div>
            <div class="page-title-layout"> {{recipe.recipe_name}} -recipe</div>
                <div class="card recipe-positioning">
                    <div class="card-body">
                        <h5 class="card-title spacing-normal"><b>Cook time:</b> {{recipe.cook_time}}</h5>
                        <hr>
                        <b><p class="card-text">Ingredients:</p></b>
                        {% for item in ingredients %}

                        <div class="card-text"><li>{{item[0]}}</li></div>
                        {% endfor %}
                        <hr>
                        <p class="card-text">Instructions</p>
                        <div>{{recipe.instructions}}</div>
                        <hr>
                        <form action="/recipe/{{recipe_id}}/add-to-favorites" method="POST">
                            <button type="submit" class="btn btn-secondary">Add to Favorites!</button>
                            <input type="hidden" name="csrf_token" value="{{ session.csrf_token }}">
                        </form>
                    </div>
                </div>
            </div>
        <div class="wrap-give-review">
            <div class="card review-positioning">
                <div class="card-body">
                    <h5 class="card-title spacing-normal">Give a review!</h5>
                    <hr>
                    <form action="/recipe/{{recipe_id}}/add-review" method="POST">
                        <div class="font">How many starts?</div>
                        <input type="number" name="grade" min="1" max="5" required style="width: 3em;"><br>
                        <div class="font ">Write a comment</div>
                        <textarea name="comment" rows="3" cols="50" minlength="1" maxlength="500" required></textarea><br>
                        <button type="submit" value="Add review" class="btn btn-secondary">Add review</button>
                        <input type="hidden" name="csrf_token" value="{{ session.csrf_token }}">
                    </form>
                </div>
            </div>
        </div>
        <div class="wrap-recipe-reviews">
            <div class="top-padding text-layout">Reviews</div>
            <div class="card">
                <div class="card-body">
                    {% for item in reviews_all %}
                    <p>
                    <b>Review created at: </b> {{item.sent_at.strftime("%d.%m.%Y klo %H:%M")}}<br>
                    <b>Review: </b> {{item[0]}}/5<br>
                    <b>By:</b> {{item[3]}}<br>
                    <b>Comment: {{item[1]}}</b>
                    </p>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
</body>
{% endblock %}