{% extends "layout.html" %}

{% block content %}
<body>
    <div class="limiter">
        <div class="wrap-basic font">
            {% for item in recipe %}
            <h2>{{item[1]}}</h2>
            <div>Cook time: {{item[2]}}</div>
            {% endfor %}

            <div>Ingredients:</div>
            {% for item in ingredients %}
            <div>{{item[0]}}</div>
            {% endfor %}

            {% for item in recipe %}
            <div>Instructions.</div>
            <div>{{item[6]}}</div>
            {% endfor %}
            <form action="/recipe/{{recipe_id}}" method="POST">
            <button type="submit" class="btn btn-secondary" id="favorite" name="favorite" value="like">Add to Favorites!</button>
            </form>
        </div>
    </div>

</body>
{% endblock %}