<!doctype html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
    <title>Login view</title>
<link href="../static/css/signup.css" rel="stylesheet">

</head>
<body>
  <div class="limiter">
      <div class="background-login">
          <div class="wrap-login">
              <form class="signup-form validate-form" action="/signup" method="POST">
                <div class="page-title">Create your RecipeFinder Account</div>
                    <div class="username-input" data-validate="Type Username">
                        <input class="input" name="username" type="text" placeholder="Choose your username (minimum 3 characters)" required>
                    </div>
                    <div class="role-input">
                        <div class="form-check">
                            <input class="form-check-input" type="radio" name="role" value="0" checked>
                            <label class="form-check-label" for="user_role">
                            User </label>
                        </div>
                        <div class="form-check">
                            <input class="form-check-input" type="radio" name="role" value="1">
                            <label class="form-check-label" for="role">
                            Admin
                            </label>
                        </div>
                    </div>
                    <div class="password-input" data-validate="Type Password">
                        <input class="input" name="password1" type="password" placeholder="Choose your password (minimum 8 characters)" required>
                    </div>
                    <div class="confirm-password-input" data-validate="Type Password Again">
                        <input class="input" name="password2" type="password" placeholder="Retype password" required>
                    </div>
                    <div class="email-input" data-validate="Type Email">
                        <input class="input" name="email" type="text" placeholder="Enter your email address" required>
                    </div>
                    <div class="phone-input" data-validate="Type Phone number">
                        <input class="input" name="phone" type="text" placeholder="e.g. 0401234567" required>
                    </div>
                    <div class="sign-up-setup">
                        <button type="submit" name="signup" class="btn btn-secondary btn-lg btn-block">SIGN UP</button>
                    </div>
              </form>
                    <div class="back-to-signin-setup">
                        <a href="/" type="submit" name="back_to_signin" class="btn btn-light btn-outline-dark btn-lg btn-block">GO BACK TO SIGN IN</a>
                     </div>
              <div class="signup-picture" style="background-image: url('/static/images/signup_picture.avif');"></div>
          </div>
      </div>
  </div>
</body>