#flash {
    font-family: Poppins-Regular;
    position: fixed;
    left: 50%;
    transform: translate(-50%, 0);
    z-index: 4;
    font-size: 20px;
    letter-spacing: 1.5px;
    text-transform: uppercase;
}
