html,
body {
  font-family: Poppins-Regular,sans-serif;
}

body {
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    background: #f2f2f2;
  }

.limiter {
    width: 95%;
    margin: 0 auto;
}


/* WRAPS */

.wrap-navbar {
    width: 100%;
    height: 100%;
    background-color: #fff;

}

.wrap-all-recipes {
    width: 95%;
    background-color: #fff;
    overflow: hidden;
    flex-wrap: wrap;
    flex-direction: row-reverse;
    box-sizing: border-box;
    position: absolute;
    background-position: center;
    top: 35%;
    left: 2.5%;
}

.wrap-basic {
    width: 95%;
    align-items: center;
    position: absolute;
    background-position: center;
    top: 13%;
    left: 2.5%;
    background-color: #fff;
}

.wrap-filter {
    width: 95%;
    height: 15%;
    align-items: center;
    position: absolute;
    background-position: center;
    top: 13%;
    left: 2.5%;
    background-color: #fff;
}

/* COLORS */

.link-color {
    color: #212529 !important;
}

.heart-color {
    color: #891838 !important;
}

.navbar-color {
    background-color: #fff;
}

/* POSITIONING  */

.navbar-links {
    align-items: center;
}

.search-box-location {
    position: absolute;
    top: 30%;
    left: 30%;
}

.search-box-length {
    width: 20cm;
}
.order-by-oldest-location {
    position: absolute;
    top: 30%;
    left:5%;
}
.order-by-newest-location {
    position: absolute;
    top: 55%;
    left:5%;
}
.order-by-review-location {
    position: absolute;
    top: 30%;
    left:15%;
}

.order-by-name-location {
    position: absolute;
    top: 55%;
    left:15%;
}


.recipe-name-positioning {
    width: 30%;
}

.recipe-ingredient-positioning {
    position: relative;
    left: 35%;
}

.recipe-quantity-positioning {
    width: 20%;
    position: absolute;
    left: 5%;
}

.recipe-measurement-positioning {
    width: 20%;
    position: absolute;
    left: 15%;
}

/* TEXT EDITING  */

.navbar-title-layout {
    font-size: 30px;
    color: rgb(69, 68, 68);
    letter-spacing: 3px;
}

.page-title-layout {
    font-size: 30px;
    color: rgb(69, 68, 68);
    letter-spacing: 3px;
    text-align: center;
    padding-bottom: 2cm;
}

.text-layout {
    font-family: Poppins-Regular;
    text-align: center;
    font-size: 20px;
    color: rgb(69, 68, 68);
    letter-spacing: 2px;
    padding-bottom: 1cm;
}

.font {
    font-family: Poppins-Regular;
}

.spacing-normal {
    letter-spacing: 2px
}

.text-padding {
    padding-bottom: 1cm;
}


.top-padding {
    padding-top: 0.3cm;
}

.left-padding {
    padding-left: 0.3cm;
}


/* PICTURES  */

.profile-picture {
    width: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    position: relative;
    top: 10%;
    z-index: 1;
}


.item-row {
    grid-row: 1 / span 2;
  }

  .signup-picture {
    width: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    position: absolute;
    top: 10%;
    z-index: 1;
}